Natural.Aws.Lambda/bin
Natural.Aws.Lambda/obj
Natural.Aws.Mock/bin
Natural.Aws.Mock/obj
Natural.Aws/bin
Natural.Aws/obj
Natural.Common/bin
Natural.Common/obj
Natural.Json/bin
Natural.Json/obj
Natural.SandboxConsole/bin
Natural.SandboxConsole/obj
Natural.Xml/bin
Natural.Xml/obj
.vs
